div#sticky{
    position: sticky;
    top: 0; 
    left: 0;
    right: 0;
    background-color: aqua;
}

ul li {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 html *{
    font-family: 'Roboto', sans-serif;
}

.courseTable{
    border-collapse: collapse;
    text-align: center;
    border: solid 1px black;


}

.courseTable th {
    background-color: orange;
}

.courseTable .row{
    border-bottom: solid 1px black;
}





